.sale-graph {
  width: 90% !important;
}

.cash-in-out-graph {
  width: 100% !important;
}
.approve {
  color: #ffff !important;
  background: #463c3c !important;
}
.decline {
  color: #463C3C !important;
  border: 2px solid #463c3c !important;
}
